#cy {
    width: 100%;
    height: 100%;
    background-color: #f8f9fa; /* Light grey background for canvas */
}

.flow-item {
    cursor: pointer;
}

.flow-item:hover {
    background-color: #e9ecef;
}
